<!--<script type="text/javascript" src="{{url_for('static', filename='DataTables/jQuery-3.3.1/jquery-3.3.1.min.js')}}"></script>

<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='DataTables/datatables.min.css')}}">
<script type="text/javascript" src="{{url_for('static', filename='DataTables/datatables.min.js')}}"></script>
-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/cr-1.5.2/sc-2.0.1/sp-1.0.1/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.20/b-1.6.1/cr-1.5.2/sc-2.0.1/sp-1.0.1/datatables.min.js"></script>
<style>
body {
  font-family: Consolas;
}
</style>

<h1>Dota 2 Pro Circuit Database</h1>
<div style="display: flex">
	<div style="flex: 63%">
	<h3><a href="/leagues">Leagues</a></h3>
	{{table_leagues|safe}}
	</div>
	<div style="flex: 1%">
	</div>
	<div style="flex: 36%">
	<h3><a href="/heroes">Heroes</a></h3>
	{{table_heroes|safe}}
	</div>
</div>


<script>
$(document).ready(function() {
    $('#table_heroes').DataTable( {
        "paging":   false,
        "info":     false,
		columnDefs:[{
			targets: 0,
			className: 'dt-body-right'
			},{
			targets: 1,
			render: function(data, type, row, meta){
				if(type === 'display'){
					data = '<img src="/static/hero_pic/' + row[1]+ '.png" height="36"/>' + data;
					data = "<a href='/hero/" + row[0] + "'>" + data + '</a>';
				}
				return data;
			}
			}
		]
    } );
	$('#table_leagues').DataTable( {
        "paging":   false,
        "info":     false,
		"ordering": false,
		columnDefs:[{
			targets: [0, 1],
			className: 'dt-body-right'
			},{
			targets: 2,
			render: function(data, type, row, meta){
				if(type === 'display'){
					data = "<a href='/league/" + row[1] + "'>" + data + '</a>';
				}
				return data;
			}
			}
		]
    } );
} );
</script>